body {
  margin: 0;
  background: black;
  font-family: 'Old Standard TT', serif;
}
body a:link {
  color: black;
}
body a:visited {
  color: black;
}
header {
  width: 20em;
  height: 100%;
  float: left;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  background: #fff;
}
div.logo {
  width: 20em;
  height: 10.9375em;
  padding: 1.5em 0 2rem;
}
div.logo h1 {
  min-width: 16.2rem;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}
div.menu {
  width: 20em;
}
div.menu h3 {
  text-align: center;
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
}
div.menu h3 a {
  text-decoration: none;
}
div.menu h3 a:hover {
  text-decoration: underline;
  color: #147B14;
}
div.menu ul {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.25em;
}
div.menu ul li {
  display: list-item;
  padding-bottom: 1em;
}
.menu ul li a {
  text-decoration: none;
}
.menu ul li a:hover {
  text-decoration: underline;
  color: #147B14;
}
div.social {}
div.social ul {
  padding-top: 3em;
  padding-left: 4.9em;
}
div.social ul li {
  display: inline-block;
}
div.social ul li a {
  padding-right: 1em;
  text-decoration: none;
}
div.social ul li a:hover {
  color: #147B14;
}
div.container {
  padding-left: 20rem;
}
#landing-container {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(image/cucumberHD.jpg);
  min-height: 46em;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}
#landingLogo img {
  width: 100%;
  height: auto;
}
#storySection {
  background: #fff;
  height: 100%;
  min-height: 46.5em;
  overflow-y: hidden;
}
#storyContainer {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-top: 7.5%;
  font-size: larger;
}
#story-logo {}
#story-logo img {
  width: 5em;
}
#pantrySection {
  height: 100%;
  min-height: 46.5em;
  overflow-y: hidden;
  background-image: url(image/pantry-background.jpg);
}
#pantryContainer {
  max-width: 100%;
  display: inline-flex;
}
.pantryColumn {
  width: 33.33%;
}
#pantryCard {
  background-color: #fff;
  width: 90%;
  height: 20em;
  margin-left: 5%;
  position: relative;
  border-radius: 1%;
  text-align: center;
}
#gallerySection {
  height: 100%;
  min-height: 46.5em;
  overflow-y: hidden;
  background: #fff;
}
.jcarousel-wrapper {
  margin: 2em auto;
  height: 35em;
  position: relative;
  border: .75em solid #fff;
  -webkit-border-radius: 0.03125em;
  -moz-border-radius: 0.03125em;
  border-radius: 0.03125em;
  -webkit-box-shadow: 0 0 0.0125em #999;
  -moz-box-shadow: 0 0 0.0125em #999;
  box-shadow: 0 0 0.0125em #999;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.jcarousel ul {
  width: 200000em;
  position: relative;
  list-style: none;
  margin: 0;
  margin-top: 5.5em;
  padding: 0;
}
.jcarousel li {
  float: left;
  border: 0.00625em solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jcarousel img {
  display: block;
  max-width: 100%;
  height: auto !important;
}
.jcarousel-control-prev, .jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -1em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 0.00625em #000;
  font: 1.5em/1.5em Arial, sans-serif;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  -webkit-box-shadow: 0 0 .25em #F0EFE7;
  -moz-box-shadow: 0 0 .25em #F0EFE7;
  box-shadow: 0 0 .25em #F0EFE7;
}
.jcarousel-control-prev {
  left: 1em;
}
.jcarousel-control-next {
  right: 1em;
}
.jcarousel-pagination {
  position: absolute;
  bottom: -3em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
}
.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  height: .75em;
  width: .75em;
  line-height: .75em;
  background: #fff;
  color: #4E443C;
  border-radius: .6em;
  text-indent: -9999px;
  margin-right: .5em;
  -webkit-box-shadow: 0 0 .25em #4E443C;
  -moz-box-shadow: 0 0 .25em #4E443C;
  box-shadow: 0 0 .25em #4E443C;
}
.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  -webkit-box-shadow: 0 0 .25em #F0EFE7;
  -moz-box-shadow: 0 0 .25em #F0EFE7;
  box-shadow: 0 0 .25em #F0EFE7;
}
#contactSection {
  height: 100%;
  min-height: 46.5em;
  overflow-y: hidden;
  background-image: url(image/contract-background.png);
}
#contact-items {
  width: 80%;
  height: 38em;
  text-align: center;
  margin-top: 5em;
  margin-left: 10%;
  background: #fff;
}
#contact-items h2 {
  font-size: xx-large;
}
#contact-items ul {
  list-style: none;
  font-size: x-large;
}
#contact-items ul li {
  margin-top: 2em;
}
#contact-items form {
  margin-top: 2em;
  margin-left: 2em;
}
#input-box {
  width: 12.5em;
  font-size: medium;
  font-family: 'Old Standard TT', serif;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 2em;
}
#input-button {
  font-family: 'Old Standard TT', serif;
  background: black;
  color: white;
  border: none;
  width: 8em;
  font-size: inherit;
}
